<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default" style="box-shadow: 5px 5px 5px #DDD">
                <div class="panel-heading">
                    <form>
                        <div class="input-group">
                            <input class="form-control" type="search" placeholder="Search" autofocus data-bind="value:search" />
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary" data-bind="click: searchButtonClicked">Search</button> 
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-body" data-bind="visible: searching">
                    <i class="icon-spinner icon-spin icon-large"></i>
                    Searching...
                </div>
                <table class="table table-hover" data-bind="visible: !searching() && results().length > 0">
                    <tbody data-bind="foreach: results">
                         <tr>
                            <td>
                                <a href="#"><strong data-bind="text: id"></strong></a>
                                <br />
				<a href="#" data-bind="text: permalink, attr: { href: permalink }"></a>
                                <br />
                                <span data-bind="text: summary">summary</span>
                                <button type="button" class="wordcloud btn btn-link btn-sm pull-right"><i class="icon-cloud"></i> Word cloud</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-footer" style="text-align:center" data-bind="visible: !searching() && results().length > 0">
                    <ul class="pagination" >
			<li data-bind="css: { disabled: $root.page() == 1 }"><a class="disabled" href="#" >&laquo;</a></li>
			<!-- ko foreach: ko.utils.range(1, pageCount()) -->
				<li data-bind="css: { active: $root.page() == $data }"><a href="#" data-bind="text: $data">page</a></li>
			<!-- /ko -->
			<li data-bind="css: {disabled: $root.page() == $root.pageCount() }"><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button class="btn btn-default" data-bind="click: toggleOptionsButtonClicked">
                            <i data-bind=" css: { 'icon-collapse': !displayOptions(), 'icon-collapse-top': displayOptions() }"></i>
                        </button>
                        Advanced search options
                    </div>
                    <div class="panel-body" data-bind="visible: displayOptions">
                        <div class="form-group">
                            <label>Some field</label>
                            <input class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Some other field</label>
                            <input class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Some select</label>
                            <select class="form-control">
                                <option>some selectable value</option>
                                <option>some selectable value</option>
                                <option>some selectable value</option>
                                <option>some selectable value</option>
                                <option>some selectable value</option>
                                <option>some selectable value</option>
                                <option>some selectable value</option>
                            </select>
                        </div>
                         <div class="form-group">
                            <label>Some multi select</label>
                            <select class="form-control" multiple>
                                <option>some selectable value</option>
                                <option>some selectable value</option>
                                <option>some selectable value</option>
                                <option>some selectable value</option>
                                <option>some selectable value</option>
                                <option>some selectable value</option>
                                <option>some selectable value</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="chart" class="panel panel-default" data-bind="visible: results().length > 0" >
                    <div class="panel-heading">
                        Some result related figures
                    </div>
                    <div class="panel-body" style="text-align:center;">
                        <canvas id="pieChart" width="150px" height="150px"></canvas>
                    </div>
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <td><i class="icon-sign-blank" style="color: #1240AB"></i> Party A</td>
                                <td>345 results</td>
                            </tr>
                            <tr>
                                <td><i class="icon-sign-blank" style="color: #4671D5"></i> Party C</td>
                                <td>234 results</td>
                            </tr>
                            <tr>
                                <td><i class="icon-sign-blank" style="color: #6C8CD5"></i> Party B</td>
                                <td>133 results</td>
                            </tr>
                            <tr>
                                <td><i class="icon-sign-blank" style="color: #2A4480"></i> Party F</td>
                                <td>34 results</td>
                            </tr>
                            <tr>
                                <td><i class="icon-sign-blank" style="color: #06266F"></i> All others</td>
                                <td>44 results</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default" data-bind="visible: results().length > 0" >
                    <div class="panel-heading">
                        Some result related text
                    </div>
                    <div class="panel-body">
                        <canvas id="lineChart" width="250px" height="150px"></canvas>
                    </div>
                </div>
                <div class="panel panel-default" data-bind="visible: results().length > 0" >
                    <div class="panel-heading">
                        Some result related statistics
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Number of results</td>
                                <td>2345</td>
                            </tr>
                            <tr>
                                <td>Processing time</td>
                                <td>230ms</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
